<div class="row  border-bottom white-bg dashboard-header">
   
    <div class="row fileFeed">
        <div class="wrapper-content col-lg-12">
            <div class="fileFeed">
                <div class="inline col-lg-1">
                    <i class="fa fa-file-o fa-5x"></i>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <strong>Filename:</strong> Payroll 2016
                    </div>
                    <div class="row">
                        <strong>File URL:</strong> http://docs.google.com/myfile.xls
                    </div>
                    <div class="row">
                        <strong>File Location:</strong> Budget Department
                    </div>
                    <div class="row">
                        <strong>Current Editor:</strong> Rex Adrivan
                    </div>
                    <div class="row ApprovedDepartment">
                        <strong>Approved By:</strong>
                        <div class="row wrapper">
                            <div class="ApprovedFile">
                                <div>
                                    <img class="img-circle" src="http://localhost/Payroll-tracking-system/img/profile_small.jpg">
                                </div>
                                <div>
                                    <strong>Name:</strong> Lorem Ipsum
                                    <br>
                                    <strong>Department:</strong> CMO
                                    <br>
                                </div>
                            </div>
                            <div class="ApprovedFile">
                                <div>
                                    <img class="img-circle" src="http://localhost/Payroll-tracking-system/img/profile_small.jpg">
                                </div>
                                <div>
                                    <strong>Name:</strong> Lorem Ipsum
                                    <br>
                                    <strong>Department:</strong> CMO
                                    <br>
                                </div>
                            </div>
                            <div class="ApprovedFile">
                                <div>
                                    <img class="img-circle" src="http://localhost/Payroll-tracking-system/img/profile_small.jpg">
                                </div>
                                <div>
                                    <strong>Name:</strong> Lorem Ipsum
                                    <br>
                                    <strong>Department:</strong> CMO
                                    <br>
                                </div>
                            </div>
                            <div class="ApprovedFile">
                                <div>
                                    <img class="img-circle" src="http://localhost/Payroll-tracking-system/img/profile_small.jpg">
                                </div>
                                <div>
                                    <strong>Name:</strong> Lorem Ipsum
                                    <br>
                                    <strong>Department:</strong> CMO
                                    <br>
                                </div>
                            </div>
                            <div class="ApprovedFile">
                                <div>
                                    <img class="img-circle" src="http://localhost/Payroll-tracking-system/img/profile_small.jpg">
                                </div>
                                <div>
                                    <strong>Name:</strong> Lorem Ipsum
                                    <br>
                                    <strong>Department:</strong> CMO
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <form>
                        <div class="form-group">
                            <div class="form-group center">
                                <button class="btn btn-primary">Accept</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row fileFeed">
        <div class="wrapper-content col-lg-12">
            <div class="fileFeed">
                <div class="inline col-lg-1">
                    <i class="fa fa-file-o fa-5x"></i>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <strong>Filename:</strong> Payroll 2016
                    </div>
                    <div class="row">
                        <strong>File URL:</strong> http://docs.google.com/myfile.xls
                    </div>
                    <div class="row">
                        <strong>File Location:</strong> Budget Department
                    </div>
                    <div class="row">
                        <strong>Current Editor:</strong> Rex Adrivan
                    </div>
                    <div class="row ApprovedDepartment">
                        <strong>Approved By:</strong>
                        <div class="row wrapper">
                            <div class="ApprovedFile">
                                <div>
                                    <img class="img-circle" src="http://localhost/Payroll-tracking-system/img/profile_small.jpg">
                                </div>
                                <div>
                                    <strong>Name:</strong> Lorem Ipsum
                                    <br>
                                    <strong>Department:</strong> CMO
                                    <br>
                                </div>
                            </div>
                            <div class="ApprovedFile">
                                <div>
                                    <img class="img-circle" src="http://localhost/Payroll-tracking-system/img/profile_small.jpg">
                                </div>
                                <div>
                                    <strong>Name:</strong> Lorem Ipsum
                                    <br>
                                    <strong>Department:</strong> CMO
                                    <br>
                                </div>
                            </div>
                            <div class="ApprovedFile">
                                <div>
                                    <img class="img-circle" src="http://localhost/Payroll-tracking-system/img/profile_small.jpg">
                                </div>
                                <div>
                                    <strong>Name:</strong> Lorem Ipsum
                                    <br>
                                    <strong>Department:</strong> CMO
                                    <br>
                                </div>
                            </div>
                            <div class="ApprovedFile">
                                <div>
                                    <img class="img-circle" src="http://localhost/Payroll-tracking-system/img/profile_small.jpg">
                                </div>
                                <div>
                                    <strong>Name:</strong> Lorem Ipsum
                                    <br>
                                    <strong>Department:</strong> CMO
                                    <br>
                                </div>
                            </div>
                            <div class="ApprovedFile">
                                <div>
                                    <img class="img-circle" src="http://localhost/Payroll-tracking-system/img/profile_small.jpg">
                                </div>
                                <div>
                                    <strong>Name:</strong> Lorem Ipsum
                                    <br>
                                    <strong>Department:</strong> CMO
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <form>
                        <div class="form-group">
                          <button class="btn btn-primary">Accept</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
</div>
