<div class="row  border-bottom white-bg dashboard-header">
    <div class="row">
        <div class="col-lg-12">
            <form>
                <div class="form-group">
                    <div class="col-sm-11">
                        <div class="input-group">
                            <input type="text" ng-model="searchInput" ng-change="searchTrack()" placeholder="file name" class="form-control"> <span class="input-group-btn"> <button type="button" class="btn btn-primary">Go!
                        
        </button> </span></div>
                    </div>
                </div>
            </form>


        </div>
    </div>
    <div class="row filefeed">
        {{searchInput}}
        <div class="wrapper-content col-lg-12">
            <div class="inline col-lg-1">
                <i class="fa fa-file-o fa-5x"></i>
            </div>
            <div class="col-lg-11">
                <div class="row">
                    <strong>Filename:</strong> Payroll 2016
                </div>
                <div class="row">
                    <strong>File URL:</strong> http://docs.google.com/myfile.xls
                </div>
                <div class="row">
                    <strong>File Location:</strong> Budget Department
                </div>
                <div class="row">
                    <strong>Current Editor:</strong> Rex Adrivan
                </div>
                <div class="row ApprovedDepartment">
                    <strong>Approved By:</strong>
                    <div class="row wrapper">
                        <div class="ApprovedFile">
                            <div>
                                <img class="img-circle" src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-9/312234_278914268788078_886014991_n.jpg?oh=24484a63394483bbcfbdd48501e67d1d&oe=59A337C9">
                            </div>
                            <div>
                                <strong>Name:</strong> Lorem Ipsum
                                <br>
                                <strong>Department:</strong> CMO
                                <br>
                            </div>
                        </div>
                        <div class="ApprovedFile">
                            <div>
                                <img class="img-circle" src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-9/312234_278914268788078_886014991_n.jpg?oh=24484a63394483bbcfbdd48501e67d1d&oe=59A337C9">
                            </div>
                            <div>
                                <strong>Name:</strong> Lorem Ipsum
                                <br>
                                <strong>Department:</strong> CMO
                                <br>
                            </div>
                        </div>
                        <div class="ApprovedFile">
                            <div>
                                <img class="img-circle" src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-9/312234_278914268788078_886014991_n.jpg?oh=24484a63394483bbcfbdd48501e67d1d&oe=59A337C9">
                            </div>
                            <div>
                                <strong>Name:</strong> Lorem Ipsum
                                <br>
                                <strong>Department:</strong> CMO
                                <br>
                            </div>
                        </div>
                        <div class="ApprovedFile">
                            <div>
                                <img class="img-circle" src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-9/312234_278914268788078_886014991_n.jpg?oh=24484a63394483bbcfbdd48501e67d1d&oe=59A337C9">
                            </div>
                            <div>
                                <strong>Name:</strong> Lorem Ipsum
                                <br>
                                <strong>Department:</strong> CMO
                                <br>
                            </div>
                        </div>
                        <div class="ApprovedFile">
                            <div>
                                <img class="img-circle" src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-9/312234_278914268788078_886014991_n.jpg?oh=24484a63394483bbcfbdd48501e67d1d&oe=59A337C9">
                            </div>
                            <div>
                                <strong>Name:</strong> Lorem Ipsum
                                <br>
                                <strong>Department:</strong> CMO
                                <br>
                            </div>
                        </div>
                       
            

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
